*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f4f7fb;
}
.container{
    max-width: 500px;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
    color: #2c3e50;
    margin-bottom: 5px;
}
p{
    text-align: center;
    color: #555;
    margin-bottom: 25px;
}
label{
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
input,
select,
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea{
    resize: vertical;
    min-height: 80px;
}
button{
    margin-top:20px;
    width: 100%;
    padding: 12px;
    background-color: #1abc9c;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #16a085;
}
#response{
    margin-top: 20px;
    padding: 12px;
    border-radius: 5px;
    display: none;
}
.success{
    background-color: #e8f8f5;
    color: #0e0251;
}
.emergency{
    background-color: #fdecea;
    color: #922b21;
}